*
{
margin: 0px;
padding: 0px;
}
a
{
text-decoration: none;

}

a:hover
{
text-decoration: none;
cursor:pointer;/*
color: #fff;
 background: #D3E378 url('images/bbg1.gif') repeat-x; */
}


body
{
background-color: rgb(158, 218, 182);
color: black;
font-size: 11px;
font-family: "trebuchet ms", helvetica, sans-serif;
}
p{
font-size:11px;
}
.eyes{
cursor:pointer;
width:30px; 
height:30px;
}
.storyline{
border:2px solid white;
background-color: rgb(222, 238, 172);
width: 100px;
}
.right{
height: 15px;
}